body{
    margin: 0;
    padding: 0;
    text-align: center;
    color: rebeccapurple;
    background-color: papayawhip;
}
.S1header{
    width: 70%;
    padding: 1em;
    border: 1px solid black;
    text-align: center;
}
.fsec1{
    color: rebeccapurple;
}